@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: theme("borderColor.DEFAULT");
}

::before,
::after {
  --tw-content: "";
}

* {
  margin: 0;
  padding: 0;
}

.ant-dropdown-menu {
  background-color: #152259 !important;
  border-radius: 3px;
}

.ant-dropdown-menu-title-content {
  color: #fff;
}

.ant-dropdown-menu-title-content:hover {
  background-color: #2d88d4;
  border-radius: 3px;
}
